.laptop{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    background-color:black;
}

.headline{
    font-family:Arial, Helvetica, sans-serif ;
    text-align: center;
    background-image: url(background.jpg);
    border-radius: 2em;
    color:green;
        
    
}
body{
    background-image: url(bricks.jpg);
    text-align: center;
}
.border{
    color: brown;
}
.topman{
    grid-template-columns: 1fr;
    display: flex;
    gap: 1em;
    height: 200px;
    justify-content: center;
    text-align: center;
}
.bank{
    display: flex;
    flex-direction:column;
    background-color: silver;
    font-family: Arial, Helvetica, sans-serif;
    justify-items: center;
    border-radius: 9px;
    padding: 20px;
    padding: 1em;

}




.loan{
    display: flex;
    margin-bottom: 0;
    margin-top: auto;
    justify-content: space-evenly;
}

.loan button {
    position: relative;
    bottom: 0;
    background-color: green;
}
#repayloan {
    background-color: green;
    visibility: hidden;

}
.work{

    display: flex;
    flex-direction: column;
    background-color: silver;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    justify-items: center;
    border-radius: 9px;
    padding: 1em;
 
    
}
.buy{
    display: flex;
    margin-bottom: 0;
    margin-top: auto;
    justify-content: space-evenly;
}

.buy button {
    position: relative;
    bottom: 0;
    background-color: green;
}
.laptop{
    display: flex;
    flex-direction: column;
    background-color: silver;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    justify-items: center;
    border-radius: 9px;
    padding: 1em;  

}
.down{
    display: flex;
    flex-direction: column;
    background-color: silver;
    padding: 20px;
    font-family: sans-serif;
    justify-items: center;
    border-radius: 9px;
    padding: 1em;
    width: 100%;
    margin-top: 120px;
    color:black;
    box-sizing: border-box;

 
    
    


}
.cart{
    width: 20px;
}



    
@media screen and (min-width:700px) {
    .topman {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    

    }
}